arabic-reshaper
edge-tts>=6.1.0
fastapi
gTTS>=2.5.0
imageio-ffmpeg>=0.4.9
librosa
llvmlite>=0.43.0
moviepy>=2.0
numba>=0.60.0
numpy
pillow
plotly
pypdf
python-bidi
qdrant-client
requests>=2.31.0
requests_oauthlib
scikit-learn
streamlit>=1.35.0
uvicorn
